/*note: use this file to add changes*/
/*if you want to change the background you have to change in the body css*/

.transparent {
  background-color: transparent;
}

.social-list2 {
  text-align: center;
  margin: 0 auto;
}

.social-list2 a {
  font-size: 3em;
  color: #fff;
}

.social-list2 a:hover {
  color: #0093d0;
}

.social-list2 a:hover .social-icon {
  border-color: #ccc;
}

.social-icon2 {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  border: 10px solid transparent;
  border-radius: 50%;
}

