/*note: use this file to add changes*/
/*if you want to change the background you have to change in the body css*/


/* Misc Override Styles
=========================================================== */

.transparent {
  background-color: transparent;
}

.client-comment {
  line-height: 1em;
}

.align-right {
  text-align: right;
  margin-right: 10px;
  padding-right: 30px;
}


/* Blog Body Styles
=========================================================== */

/*@media (max-width: 1000px) {
  .container .columns.hide-blog-sidebar {
    display: none;
  }
  .mobile-blog-layout .blog-post h3 {
    width: 100%;
    font-size: 1.75em;
    /*margin-right: 10%;
    margin-left: 10%;
  }
  #blog-body-width {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  #headline {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .container {
    position: relative;
    width: inherit;
    margin: 0 auto;
    padding: 0;
  }
}

.img-container {
    width: 100%;
}
.img-container-text {
    padding-left: 25px;
}
.img-container img.frame {
   float: left;
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 50px;
}

.container {
  position: relative;
  width: 70%;
  margin-left: 5%;
  padding-right: 5%;
  padding-left: 0;
  display: inline-block;
}
.container .column,
.container .columns {
  float: left;
  display: inline;
}*/

/* Social Icon Styles
=========================================================== */

.social-list2 {
  text-align: center;
  margin: 0 auto;
}

.social-list2 a {
  font-size: 3em;
  color: #fff;
}



.social-list2 a:hover {
  color: #0093d0;
}

.social-list2 a:hover .social-icon {
  border-color: #ccc;
}

.social-icon2 {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  border: 10px solid transparent;
  border-radius: 50%;
}


.team-overlay .social-list li a{
  font-size: 16px;
}
.team-overlay .social-icon{
  width: 30px;
  height: 30px;
  line-height: 30px;
}


/* Navbar Styles
=========================================================== */

.navbar-default .navbar-nav>li:hover, .navbar-default .navbar-nav>li:focus {
  background-color: #CADC56;
}

.nav-med {
    /*padding-bottom: 35px;*/
    margin-bottom: 5px;
    line-height: 1em;
  }

.nav .nav-med .navbar-default .navbar-nav > li :hover, .nav .nav-med .navbar-default .navbar-nav > li :focus{
  text-decoration: none;
  background-color: #0093d0;
  border: 3px;
  border-bottom: solid;
  border-color: #0093d0;
}

/* Footer Styles
=========================================================== */

.footer {
  background-color: #e7e7e7;
  padding: 20px;
}

.social-list-footer a {
  font-size: 3em;
  color: #CADC56;
  margin-left: .5em;
  margin-right: .5em;
}
.social-list-footer {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

.social-list-footer a:hover .social-icon-footer {
   background-color: #eff4cc;
}

.social-icon-footer {
  display: inline-block;
  vertical-align: middle;
  border: 10px solid transparent;
  background-color: #f9fbee;
  height: 1.5em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  width: 1.5em;
}

.promo-icon {
  display: block;
  margin: 0 auto;
  background-color: #eff4cc;
  color: #CADC56;
  text-align: center;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  margin-top: 10px;
  transition: .3s;
}

.promo-icon .fa {
  line-height: inherit;
}


.about-icon {
  /*display: inline-block;*/
  /*line-height: 1.5em;*/
  /*vertical-align: middle;*/
  border: 10px solid transparent;
  /*border-radius: 100%;*/
  background-color: #f9fbee;
  height: 1.5em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  width: 1.5em;
}

@media (max-width: 380px) {
  .social-icon-footer {
  display: inline-block;
  vertical-align: middle;
  border: 10px solid transparent;
  background-color: #f9fbee;
  height: 1.5em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  width: 1.5em;
  padding-right: .9em;
  padding-bottom: .9em;
  }
  .social-list-footer a {
  font-size: 2em;
  color: #CADC56;
  margin-left: .25em;
  margin-right: .25em;
  }
  .social-list-footer {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  }
}

/* Newsletter
=========================================================== */

<<<<<<< HEAD
.mailchimp {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.mailchimp2 {
  width: 190px;
  /*margin-left: 25%;
  margin-right: 25%;*/
}

.mc_embed_signup {
  background:#fff;
  /*clear:left;*/
  font:14px  Raleway,Arial,sans-serif;
}

.mc_embed_signup2 {
  background:#fff;
  /*clear:left;*/
  font:14px  Raleway,Arial,sans-serif;
}
=======
>>>>>>> parent of 1b11476... update mailchimp responsiveness fix

@media (min-width: 485px) {
  .mailchimp {
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 30%;
  }
  #mc_embed_signup {
    background:#fff;
    /*clear:left; */
    font:14px  Raleway,Arial,sans-serif;
    /*width:100px;*/
  }
  .mail-form {
    width: 100%
  }
}