---
layout: default
---

<section id="headline">
  <div class="container">
    <h3>Edify<small>Education Design</small></h3>
  </div>
  <hr class="vertical-space2">
</section>

  <section class="section-blog">
    <div class="container">
      <section class="eleven columns">

        {% for post in site.categories.education | limit:5 %}
        <article class="blog-post">
          <div class="one columns alpha frame">
            <div class="blog-date-sec"> <span>{{ post.date | date: '%B' }}</span>
              <h3>{{ post.date | date: '%d' }}</h3>
              <span>{{ post.date | date: '%Y' }}</span> </div>
          </div>
          <div class="ten columns omega">
            <div class="img-container">
              <img class="frame" src="{{ post.image }}" alt="">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <div class="postmetadata">
                <span>by </span><h6 class="blog-author"> {{ post.author }}</h6>
                <span>in </span><h6 class="blog-author"> {{ post.category }}</h6>
              </div>
            </div>

            <p style="margin-left: 60px;">{{ post.content | strip_html | truncate: 200}}</p>
            <a href="{{ post.url }}"><btn style="float: right;" class="btn btn-sm btn-info"><strong>Read More</strong></btn></a>

          </div>

          <br class="clear">

        </article>
        {% endfor %}

        <!-- {{ content }} -->

  </section>
  <!-- end-main-content -->

  <aside class="four columns offset-by-one sidebar">
    <h4 class="subtitle">Categories</h4>
    <div class="listbox1">
      <ul>
        <li><a href="#">Education</a></li>
        <li><a href="#">Tech</a></li>
        <li><a href="#">Instructional Design</a></li>
        <li><a href="#">Puppies</a></li>
      </ul>
    </div>
    <!-- end-listbox1 -->
    <br class="clear">

    <h4 class="subtitle">Join the Email List:</h4>
    <div>
      <form>
        <input type="email" placeholder="email address">
      </form>
    </div>

    <br class="clear">

    <h4 class="subtitle">Archives</h4>
    <div class="listbox1">
      <ul>
        {% for post in site.posts | limit:20 %}
        <li><a href="{{ post.url }}"> {{post.date | date: '%b. %d, %Y' }} {{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <!-- end-listbox1 -->
    <br class="clear">
  </aside>
  <!-- end-sidebar-->

  <br class="clear">


  <span id="scroll-top"><a class="scrollup"><i class="icomoon-arrow-up"></i></a></span> </div>
  <!-- end-wrap -->
  <!-- End Document -->

  <br class="clear">

  <div class="vertical-space2"></div>
</section>


