<!-- Footer -->
<footer class="footer" >
  <!-- Social Links -->
  <div class="social-list-footer">
    <a href="https://twitter.com/edifyedu/"><i class=" social-icon-footer fa fa-twitter"></i></a>
    <a href="https://linkedin.com/in/kristenmg"><i class="social-icon-footer fa fa-linkedin"></i></a>
    <a href="https://pinterest.com/edifyedu"><i class="social-icon-footer fa fa-pinterest"></i></a>
  </div>
  <!-- End Social Links -->

  <!-- Copyright -->
  <p class="center grey">
    2015 &copy; Edify Education Design LLC. All rights reserved.
  </p>
  <!-- End Copyright -->
</footer>

<!-- End Footer -->