<!-- Footer -->
<footer>
  <div class="container">
    <!-- Social Links -->
    <ul class="social-list">
      <li>
        <a href="https://www.facebook.com/" target="_blank">
          <span class="social-icon">
            <i class="fa fa-facebook"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/" target="_blank">
          <span class="social-icon">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/" target="_blank">
          <span class="social-icon">
            <i class="fa fa-google-plus"></i>
          </span>
        </a>
      </li>
    </ul>
    <!-- End Social Links -->

    <!-- Copyright -->
    <p class="center grey">2014 &copy; Edify Education Design LLC. All rights reserved.</p>
    <!-- End Copyright -->
  </div>
</footer>
<span id="scroll-top"><a class="scrollup"><i class="icomoon-arrow-up"></i></a></span> </div>
<!-- End Footer -->