

<!-- Header -->
<header class="navbar navbar-default topnav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home" id="logo">Edify</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right" id="nav">
        <li class="{% if page.url == '/index.html' %}current{% endif %}"><a href="/index.html">Home</a></li>
        <li><a href="/index.html#about">About</a></li>
        <li><a href="/index.html#services">Services</a></li>
        <li><a href="/index.html#portfolio">Portfolio</a></li>
<!--         <li><a href="#pricing">Pricing</a></li> -->
        <li class="{% if page.url == '/blog.html' %}current{% endif %}"><a href="/blog.html">Blog</a></li>
        <li><a href="/index.html#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
<!-- End Header -->