<!-- Header -->
<header class="navbar navbar-default topnav">
  <div class="container">
    <div class="navbar-header" role="banner">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="images/logo/edify copy.png" alt="">
      <a class="navbar-brand" href="/index.html#home" id="logo" id="top"></a>

    </div>
    <nav role="navigation">
      <div class="collapse navbar-collapse" id="navigation" >
        <ul class="nav navbar-nav navbar-right" id="navigation">
          <li class="nav-tall"><a href="/index.html#top">Home</a></li>
          <li class="nav-tall"><a href="/index.html#about">About</a></li>
          <li class="nav-tall"><a href="/index.html#services">Services</a></li>
          <li class="nav-tall"><a href="/index.html#process">Process</a></li>
          <li class="nav-tall"><a href="/index.html#work">Work</a></li>
          <li class="{% if page.url == '/blog.html' %}current{% endif %} nav-tall"><a href="/blog.html">Blog</a></li>
          <li class="nav-tall"><a href="/index.html#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->