<!-- Header

<!--Fix with CSS scoping
https://css-tricks.com/saving-the-day-with-scoped-css/ -->


<nav class="navbar navbar-default">
  <style scoped>
    @import url('./css/bootstrap.css'); /* Import Bootstrap Stylesheet */
    @import url('/css/base.css'); /* Import Base Stylesheet */
    @import url('./css/overrides.css'); /* Import Overrides Stylesheet */
    @import url('./css/style.css'); /* Import Style Stylesheet */
  </style>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="images/logo/edify copy.png" alt="">
      <a class="navbar-brand" href="/index.html#home" id="logo" id="top"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-med"><a class="align-right" href="/index.html#top">Home</a></li>
        <li class="nav-med"><a class="align-right" href="/index.html#about">About</a></li>
        <li class="nav-med"><a class="align-right" href="/index.html#services">Services</a></li>
        <li class="nav-med"><a class="align-right" href="/index.html#process">Process</a></li>
        <!-- <li class="nav-med"><a class="align-right" href="/index.html#work">Our Work</a></li> -->
        <li class="{% if page.url == '/blog.html' %}current{% endif %} nav-med"><a class="align-right" href="/blog.html">Blog</a></li>
        <li class="nav-med"><a class="align-right" href="/index.html#contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- End Header -->