<!-- Preloader -->
<div id="mask">
  <div id="loader">
  </div>
</div>
<!-- End Preloader -->

<!-- Home Section -->
<section id="home">
  <div class="container">
    <div class="hero">
      <hr>
      <!-- Home Slider -->
      <div class="home-slider">
        <ul class="slides">
          <li>
            <h1>Moving fast? </h1>
          </li>
        </ul>
      </div>
      <!-- End Home Slider -->
      <hr>
      <p class="center"><a href="#about" class="btn btn-empty btn-lg">Don't forget about your people.</a></p>
    </div>
  </div>
</section>
<!-- End Home Section