---
layout: default
---

<section id="headline">
  <div class="container">
    <h3>Edify<small>Education Design</small></h3>
  </div>
  <hr class="vertical-space2">
</section>

  <section class="section-blog">
    <div class="container">
      <section class="eleven columns">

        {% for post in site.categories.education | limit:5 %}
        <article class="blog-post">
          <div class="one columns alpha">
            <div class="blog-date-sec"> <span>{{ post.date | date: '%B' }}</span>
              <h3>{{ post.date | date: '%d' }}</h3>
              <span>{{ post.date | date: '%Y' }}</span> </div>
          </div>
          <div class="ten columns omega">
            <div class="img-container">
              <img class="frame" src="images/team/2.jpg" alt="">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <div class="postmetadata img-container-text">

              <!-- Look the author details up from the site config. -->
              {% assign author = site.data.authors[page.author] %}

              <!-- Output author details if some exist. -->
              <h6 class="blog-author"><strong>by</strong>
                {% if author %}
                  <!-- Personal Info. -->
                  <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
                {% endif %}
              </h6>



                <h6 class="blog-cat"><strong>in</strong>
                {{ post.tags.pop }}
                {% for tag in post.tags %}
                  {{ tag }}
                {% endfor %}</h6>
              </div>
            </div>

            <p>{{ post.content | strip_html | truncate: 200}}</p>
            <a href="{{ post.url }}"><btn style="float: right;" class="btn btn-sm btn-info"><strong>Read More</strong></btn></a>

          </div>

          <br class="clear">

        </article>
        {% endfor %}

        <!-- {{ content }} -->

  </section>
  <!-- end-main-content -->

  <aside class="four columns offset-by-one sidebar">
    <h4 class="subtitle">Categories</h4>
    <div class="listbox1">
      <ul>
        <li><a href="#">Company </a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Other </a></li>
      </ul>
    </div>
    <!-- end-listbox1 -->
    <br class="clear">

    <h4 class="subtitle">Text Widget</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<a href="#"> exercitation</a> ut labore et dolore magna aliqua. Ut enim ad</p>
    <br class="clear">
    <h4 class="subtitle">Archives</h4>
    <div class="listbox1">
      <ul>
        <li><a href="#">May 2012 (2)</a></li>
        <li><a href="#">April 2012 (3)</a></li>
        <li><a href="#">March 2012 (5)</a></li>
        <li><a href="#">February 2012 (1) </a></li>
      </ul>
    </div>
    <!-- end-listbox1 -->
    <br class="clear">
  </aside>
  <!-- end-sidebar-->

  <br class="clear">


  <span id="scroll-top"><a class="scrollup"><i class="icomoon-arrow-up"></i></a></span> </div>
  <!-- end-wrap -->
  <!-- End Document -->

  <br class="clear">

  <div class="pagination2 pagination2-centered">
    <ul>
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
  <div class="vertical-space2"></div>
</section>


